@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300&display=swap");
$color-blue: hsl(246, 80%, 60%);
$color-light-red: hsl(15, 100%, 70%);
$color-soft-blue: hsl(195, 74%, 62%);
$color-Light-red: hsl(348, 100%, 68%);
$color-Lime-green: hsl(145, 58%, 55%);
$color-violet-social: hsl(264, 64%, 52%);
$color-soft-orange: hsl(43, 84%, 65%);
$background: #0d1323;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: $background;
}

main{
    height: 100vh;
    display: grid;
    place-content: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 25px;
  height: 100%;
  place-items: center;
  justify-content: center;
  &__perfil {
    background-color: #1d204b;
    border-radius: 5%;
    width: 200px;
    grid-row: span 2;
    grid-column-start: 1;
  }
  &__card {
    background-repeat: no-repeat;
    background-position: right -10px;
    width: 200px;
    border-radius: 5%;
    justify-self: stretch;
    cursor: pointer;
    &--work {
      background-color: #ff8b64;
      background-image: url("../assets/icon-work.svg");
      align-self: end;
    }
    &--play {
      background-color: #56c2e6;
      background-image: url("../assets/icon-play.svg");
      align-self: end;
    }
    &--study {
      background-color: #ff5e7d;
      background-image: url("../assets/icon-study.svg");
      align-self: end;
    }
    &--exercise {
      background-color: #49cf86;
      background-image: url("../assets/icon-exercise.svg");
      align-self: start;
    }
    &--social {
      background-color: #7235d1;
      background-image: url("../assets/icon-social.svg");
      align-self: start;
    }
    &--self {
      background-color: #f1c75b;
      background-image: url("../assets/icon-self-care.svg");
      align-self: start;
    }

    &__content {
      margin-top: 50px;
      border-radius: 5%;
      background-color: #1d204b;
      height: 150px;
      padding: 20px;
      &:hover {
        background-color: #34397b;
      }
    }
  }
}

.perfil {
  background-color: #5746ea;
  border-radius: 5%;
  padding: 40px 20px 20px 20px;
  &__image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    img {
      width: 100%;
    }
  }
  &__report {
    margin-top: 2rem;
    color: #a8a3ff;
    font-weight: 300;
    font-size: 14px;
  }
  &__title {
    color: #fff;
    font-weight: 300;
    margin-bottom: 40px;
  }
  &__list {
    padding: 20px;
    &__item {
      cursor: pointer;
      text-decoration: none;
      list-style-type: none;
      font-weight: 300;
      margin-bottom: 1rem;
      font-size: 14px;
      color: #7a7cc6;
      &:hover {
        color: #fff;
      }
      &:nth-child(2) {
        color: #fff;
      }
    }
  }
}

.card {
  display: flex;
  justify-content: space-between;
  &__category {
    color: #fff;
  }
  &__hours {
    margin: 20px 0px 5px 0px;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #fff;
  }
  &__week {
    color: #bbc0ff;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 300;
  }
}

@media (max-width: 670px) {
    main{
        height: 100% !important;
    }
  .container {
    grid-template-columns: repeat(1, 1fr) !important;
    grid-template-rows: repeat(7, 1fr) !important;
    grid-gap: 10px;
    &__perfil {
      grid-row: span 1;
      grid-column-start: 1;
    }
    &__card {
        justify-self: center;
        align-self: center;
        &__content {
            height: 80px;
            margin-top: 30px;
        };
    }
  }

  .perfil{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding: 10px;
    &__image {
      width: 50px;
      height: 50px;
    }
    &__movil{
        width: 90px;
    }
    &__report {
      margin-top: 0;
      font-size: 12px;
    }
    &__title {
      margin-bottom: 0;
      font-size: 12px;
    }
    &__list {
      padding: 20px;
      display: flex;
      gap: 10px;
      justify-content: space-between;
      align-items: center;
      &__item {
          font-size: 12px;
        margin-bottom: 0.0;
      }
    }

  }

  .card {
    display: flex;
    justify-content: space-between;
    &__movil{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
    }
    &__hours {
      margin: 0;
      font-size: 16px;
    }
    &__week {
        font-size: 10px;
    }
  }
}

@media (max-width: 900px) {
    .container {
      grid-template-columns: repeat(3, 200px);
      grid-template-rows: repeat(3, 200px);
      padding: 10px;
    }
  }
  